<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FlyFireA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{1690,273},{20,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FlyFireB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1746,183},{32,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boomA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1395,1},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,140}</string>
                <key>spriteSourceSize</key>
                <string>{136,140}</string>
                <key>textureRect</key>
                <string>{{1269,189},{136,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,193}</string>
                <key>spriteSourceSize</key>
                <string>{230,193}</string>
                <key>textureRect</key>
                <string>{{975,1},{230,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,272}</string>
                <key>spriteSourceSize</key>
                <string>{316,272}</string>
                <key>textureRect</key>
                <string>{{657,1},{316,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,120}</string>
                <key>textureRect</key>
                <string>{{1534,188},{128,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{768,295},{20,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1656,183},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,349}</string>
                <key>spriteSourceSize</key>
                <string>{654,349}</string>
                <key>textureRect</key>
                <string>{{1,1},{654,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{1125,196},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{975,196},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{1582,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{186,186}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{1207,1},{186,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_0000_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,75}</string>
                <key>spriteSourceSize</key>
                <string>{71,75}</string>
                <key>textureRect</key>
                <string>{{657,275},{71,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_0001_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{1407,315},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_0002_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{1407,188},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_0003_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{1656,273},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1437,315},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{36,50}</string>
                <key>textureRect</key>
                <string>{{730,275},{36,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd03-h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{48,18}</string>
                <key>textureRect</key>
                <string>{{730,327},{36,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{48,18}</string>
                <key>textureRect</key>
                <string>{{768,275},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JJFly.png</string>
            <key>size</key>
            <string>{1763,351}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b698e0ba3d84ed24c07d7027322856d:fc276f46fbb2344de8a3ca552a4c6259:d96c23cccfcc345f7c90f27f8c7de571$</string>
            <key>textureFileName</key>
            <string>JJFly.png</string>
        </dict>
    </dict>
</plist>
