<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FlyFireA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{1407,330},{20,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FlyFireB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,8}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1754,273},{32,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boomA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1395,1},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,140}</string>
                <key>spriteSourceSize</key>
                <string>{136,140}</string>
                <key>textureRect</key>
                <string>{{1269,189},{136,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,193}</string>
                <key>spriteSourceSize</key>
                <string>{230,193}</string>
                <key>textureRect</key>
                <string>{{975,1},{230,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boomD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,272}</string>
                <key>spriteSourceSize</key>
                <string>{316,272}</string>
                <key>textureRect</key>
                <string>{{657,1},{316,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,120}</string>
                <key>textureRect</key>
                <string>{{1549,188},{128,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{1436,330},{20,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gunB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1671,183},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,349}</string>
                <key>spriteSourceSize</key>
                <string>{654,349}</string>
                <key>textureRect</key>
                <string>{{1,1},{654,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{1125,196},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{975,196},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{1582,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{186,186}</string>
                <key>spriteSourceSize</key>
                <string>{188,188}</string>
                <key>textureRect</key>
                <string>{{1207,1},{186,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_0003_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{695,275},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_0003_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1407,188},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_0003_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{91,95}</string>
                <key>textureRect</key>
                <string>{{1671,273},{77,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s_0003_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,60}</string>
                <key>textureRect</key>
                <string>{{1549,318},{32,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zd01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{735,275},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{36,50}</string>
                <key>textureRect</key>
                <string>{{657,275},{36,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd03-h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{48,18}</string>
                <key>textureRect</key>
                <string>{{657,327},{36,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{48,18}</string>
                <key>textureRect</key>
                <string>{{1591,318},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JJFly.png</string>
            <key>size</key>
            <string>{1763,351}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98963554ad6603203499a037f033b981:a86b0cc32f97480c65f0428a6a099e49:d96c23cccfcc345f7c90f27f8c7de571$</string>
            <key>textureFileName</key>
            <string>JJFly.png</string>
        </dict>
    </dict>
</plist>
