<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{136,1291},{38,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{1,1240},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,63}</string>
                <key>spriteSourceSize</key>
                <string>{25,63}</string>
                <key>textureRect</key>
                <string>{{109,1305},{25,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,63}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{62,1240},{47,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,64}</string>
                <key>spriteSourceSize</key>
                <string>{49,64}</string>
                <key>textureRect</key>
                <string>{{111,1225},{49,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,63}</string>
                <key>spriteSourceSize</key>
                <string>{54,63}</string>
                <key>textureRect</key>
                <string>{{1,1305},{54,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,63}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{209,1223},{47,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,63}</string>
                <key>spriteSourceSize</key>
                <string>{48,63}</string>
                <key>textureRect</key>
                <string>{{66,1370},{48,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,63}</string>
                <key>spriteSourceSize</key>
                <string>{51,63}</string>
                <key>textureRect</key>
                <string>{{1,1370},{51,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,64}</string>
                <key>spriteSourceSize</key>
                <string>{45,64}</string>
                <key>textureRect</key>
                <string>{{162,1225},{45,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,63}</string>
                <key>spriteSourceSize</key>
                <string>{50,63}</string>
                <key>textureRect</key>
                <string>{{57,1305},{50,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,90}</string>
                <key>spriteSourceSize</key>
                <string>{309,90}</string>
                <key>textureRect</key>
                <string>{{279,1090},{309,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Touch To Start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1147,90}</string>
                <key>spriteSourceSize</key>
                <string>{1147,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{1147,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,27}</string>
                <key>spriteSourceSize</key>
                <string>{88,27}</string>
                <key>textureRect</key>
                <string>{{91,1196},{88,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{91,1225},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dordor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{258,1223},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,91}</string>
                <key>spriteSourceSize</key>
                <string>{734,91}</string>
                <key>textureRect</key>
                <string>{{369,1},{734,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,91}</string>
                <key>spriteSourceSize</key>
                <string>{303,91}</string>
                <key>textureRect</key>
                <string>{{93,891},{303,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hight score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{762,89}</string>
                <key>spriteSourceSize</key>
                <string>{762,89}</string>
                <key>textureRect</key>
                <string>{{278,1},{762,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1,1150},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,91}</string>
                <key>spriteSourceSize</key>
                <string>{416,91}</string>
                <key>textureRect</key>
                <string>{{186,805},{416,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,100}</string>
                <key>spriteSourceSize</key>
                <string>{323,100}</string>
                <key>textureRect</key>
                <string>{{279,765},{323,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resume game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{888,91}</string>
                <key>spriteSourceSize</key>
                <string>{888,91}</string>
                <key>textureRect</key>
                <string>{{93,1},{888,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>try aging.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,92}</string>
                <key>spriteSourceSize</key>
                <string>{692,92}</string>
                <key>textureRect</key>
                <string>{{381,737},{692,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>your score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,90}</string>
                <key>spriteSourceSize</key>
                <string>{802,90}</string>
                <key>textureRect</key>
                <string>{{186,1},{802,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WZ.png</string>
            <key>size</key>
            <string>{474,1430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e46072692805f76284cc9e14a7d1e74:a650d3c43d4e0b45fa4567fdcdb9b340:32b192b9110d114bc02616bea7faf944$</string>
            <key>textureFileName</key>
            <string>WZ.png</string>
        </dict>
    </dict>
</plist>
